<div class="search">
  <%= form_tag("/", method: "get") do %>
    <%= label_tag(:query, "Search a title:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
  <% end %>
  <% if params[:query] %>
  	<h3><%= link_to @movie.title, movie_path(@movie) %></h3>
  <% end %>
</div>
<div class="recent">
  <h4>Recent Titles</h4>
  <ul>
    <% Movie.all.each do |movie| %>
    <li><%= link_to movie.title, movie_path(movie) %> - <%= movie.year %></li>
  	<% end %>
  </ul>
</div>
