<div class="search">
<%= form_tag("/", method: "get") do %>
  <%= label_tag(:query, "Search a title:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>
<% if params[:query] %>
	<h4><%= link_to @title, movie_path(@movie) %></h4>
<% end %>
</div>
